* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.tictactoe-container {
    display: flex;
    padding: 50px;
}

.row {

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    cursor: pointer;
}